# üìä Caso de an√°lisis: Emisiones de di√≥xido de carbono por pa√≠s (1975-2017)
## üß† Objetivo:
Los estudiantes deben analizar la evoluci√≥n de las emisiones de CO‚ÇÇ en varios pa√≠ses desde 1975 hasta 2017, distinguiendo entre:

- Emisiones totales: Miden la cantidad total de CO‚ÇÇ emitido en un pa√≠s.

- Emisiones per c√°pita: Indican cu√°ntas toneladas m√©tricas de CO‚ÇÇ emite, en promedio, una persona en ese pa√≠s.

## <mark>Estudiante: \> Carlos Andrey Moya Mora</mark>

## Contexto

üåç An√°lisis de Emisiones de CO‚ÇÇ ‚Äì Caso Pr√°ctico
üìÅ Archivo: Carbon_Dioxide_Emission_Estimates.csv
Contiene datos de emisiones de di√≥xido de carbono (CO‚ÇÇ) de varios pa√≠ses entre 1975 y 2017.

üßæ Estructura de los datos
- Country: Pa√≠s

- Year: A√±o

- Type: Tipo de emisi√≥n:

    * Emisiones totales (kilotoneladas m√©tricas)

    * Emisiones per c√°pita (toneladas m√©tricas por persona)

- Value: Valor num√©rico de la emisi√≥n

üîç Tipos de emisiones
- Totales: CO‚ÇÇ emitido por todo el pa√≠s (kt)

- Per c√°pita: CO‚ÇÇ promedio por persona (t CO‚ÇÇ/persona)

    - Se calcula dividiendo emisiones totales por la poblaci√≥n

In [123]:
#Importa el CSV como un DataFrame

import pandas as pd
import csv

df = pd.read_csv('Estimaciones_Emisiones_Dioxido_Carbono.csv', encoding='utf-8')

print(df.head())

   Country  Year                                               Type     Value
0  Albania  1975  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...  4338.334
1  Albania  1985  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...  6929.926
2  Albania  1995  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...  1848.549
3  Albania  2005  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...  3825.184
4  Albania  2010  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...  3930.295

# Pregunta 0

1. Crear un dataframe con el nombre de variable 'df_emisions_co2' usando √∫nicamente las filas cuya columna 'Type' tiene el valor 'Emisiones totales de CO‚ÇÇ emitidas por el pa√≠s'

2. Crear un dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando √∫nicamente las filas cuya columna 'Type' tiene el valor 'Emisiones promedio de CO‚ÇÇ emitidas por habitante'.

In [124]:
#Crea un copia del original filtrado como df_emisions_co2

df_emisions_co2 = df[df['Type'] == 'Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido de carbono)']

print(df_emisions_co2)

       Country  Year                                               Type  \
0      Albania  1975  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
1      Albania  1985  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
2      Albania  1995  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
3      Albania  2005  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
4      Albania  2010  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
...        ...   ...                                                ...
2119  Zimbabwe  2005  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
2120  Zimbabwe  2010  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
2121  Zimbabwe  2015  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
2122  Zimbabwe  2016  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...
2123  Zimbabwe  2017  Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...

          Value
0      4338.334
1      6929.926
2      1848.549
3      3825.184
4      3930.295
...         ...
2119  10272.774
2120   9464.714
2121  11822.362
2122  10368.900
2123   9714.938

[1066 rows x 4 columns]

In [125]:
#Crea un copia del original filtrado como df_emisions_co2_per_capita

df_emisions_co2_per_capita = df[df['Type'] == 'Emisiones per capita (toneladas mÔøΩtricas de diÔøΩxido de carbono)']

print(df_emisions_co2_per_capita)

       Country  Year                                               Type  Value
8      Albania  1975  Emisiones per capita (toneladas mÔøΩtricas de di...  1.804
9      Albania  1985  Emisiones per capita (toneladas mÔøΩtricas de di...  2.337
10     Albania  1995  Emisiones per capita (toneladas mÔøΩtricas de di...  0.580
11     Albania  2005  Emisiones per capita (toneladas mÔøΩtricas de di...  1.270
12     Albania  2010  Emisiones per capita (toneladas mÔøΩtricas de di...  1.349
...        ...   ...                                                ...    ...
2127  Zimbabwe  2005  Emisiones per capita (toneladas mÔøΩtricas de di...  0.794
2128  Zimbabwe  2010  Emisiones per capita (toneladas mÔøΩtricas de di...  0.672
2129  Zimbabwe  2015  Emisiones per capita (toneladas mÔøΩtricas de di...  0.749
2130  Zimbabwe  2016  Emisiones per capita (toneladas mÔøΩtricas de di...  0.642
2131  Zimbabwe  2017  Emisiones per capita (toneladas mÔøΩtricas de di...  0.588

[1066 rows x 4 columns]

# Pregunta 1

Cu√°ntas filas tiene el dataframe 'df_emisions_co2'?

In [126]:
# Coloque el c√≥digo que responda a la pregunta aqui

print(f'El df_emisions_co2 tiene un total de {len(df_emisions_co2)}')

El df_emisions_co2 tiene un total de 1066

# Pregunta 2

Cu√°l en el valor m√°s alto de emisiones (en general) usando el dataframe 'df_emisions_co2'?

In [127]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

emision_max_co2 = df['Value'].max()

print(f'El Valor de emisiones de CO2 mas alto en el df_emisions_co2 es {emision_max_co2} kt metricas.')

El Valor de emisiones de CO2 mas alto en el df_emisions_co2 es 9257933.9 kt metricas.

# Pregunta 3

Cu√°ntos pa√≠ses (Countries) hay en el dataframe 'df_emisions_co2'?

In [128]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

paises_df = df[['Country']]
paises_df = paises_df.drop_duplicates()


print(f'En el df_emisions_co2 hay un total de {len(paises_df)} paises.')

En el df_emisions_co2 hay un total de 142 paises.

In [129]:
#Imprima un lista con todos los paises

paises_df

                         Country
0                        Albania
16                       Algeria
32                        Angola
48                     Argentina
64                       Armenia
...                          ...
2052  Venezuela (Boliv. Rep. of)
2068                    Viet Nam
2084                       Yemen
2100                      Zambia
2116                    Zimbabwe

[142 rows x 1 columns]

# Pregunta 4

Cu√°l es el pa√≠s que tiene mayor emisiones usando el dataframe 'df_emisions_co2'?

In [130]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

max_emision_pais = df_emisions_co2[df_emisions_co2['Value'] == emision_max_co2]

max_emision_pais

,Country,Year,Type,Value
353,China,2017,Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...,9257933.9

# Pregunta 5

Cu√°l es el a√±o que tiene mayor emisiones para el pa√≠s de Spain usando el dataframe 'df_emisions_co2'?

In [131]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta


espa√±a = df_emisions_co2[df_emisions_co2['Country'] == 'Spain'].groupby('Year')['Value'].sum().idxmax()
print(f"El a√±o con mayor emisi√≥n para Espa√±a es: {espa√±a}")

El a√±o con mayor emisi√≥n para Espa√±a es: 2005

In [132]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

co2_spain = df_emisions_co2[df_emisions_co2['Country'] == 'Spain']

max_co2_spain = co2_spain[co2_spain['Value'] == co2_spain['Value'].max()]

print(f'El a√±o con mas emisiones para Espa√±a fue {max_co2_spain['Year'].values[0]} con un total de {max_co2_spain['Value'].values[0]} ktm ese A√±o')

max_co2_spain

El a√±o con mas emisiones para Espa√±a fue 2005 con un total de 333710.098 ktm ese A√±o

,Country,Year,Type,Value
1729,Spain,2005,Emisiones (kilotoneladas mÔøΩtricas de diÔøΩxido d...,333710.098

# Pregunta 6

Cu√°les son los a√±os que se tiene registros para el dataframe 'df_emisions_co2_per_capita'?

Entrege una lista con los a√±os sin repetirse

In [133]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

a√±os_registrados_percapita = df_emisions_co2_per_capita['Year']

a√±os_registrados_percapita.drop_duplicates()

8     1975
9     1985
10    1995
11    2005
12    2010
13    2015
14    2016
15    2017
Name: Year, dtype: int64

# Pregunta 7

Cu√°ntas son las emisiones en 'kilotoneladas m√©tricas' en total usando todos los pa√≠ses para usando el dataframe 'df_emisions_co2'?

In [134]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta
emisiones_total_ktm = df_emisions_co2['Value'].sum()

print(f'El total de kt metricas tomando en cuenta todos los paises fue de {emisiones_total_ktm}ktm')

El total de kt metricas tomando en cuenta todos los paises fue de 195028250.41599998ktm

# Pregunta 8

Cu√°ntas son las emisiones en 'kilotoneladas m√©tricas' s√≥lo para Albania usando el dataframe 'df_emisions_co2'?

In [142]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta
co2_albania = df_emisions_co2[df['Country'] == 'Albania']

co2_albania

print(f'El total de emisiones que tuvo Albania contando todos los a√±os registrados es de {co2_albania['Value'].sum()} KTM')

El total de emisiones que tuvo Albania contando todos los a√±os registrados es de 32713.283000000003 KTM

C:\Users\Not MOYA\AppData\Local\Temp\ipykernel_1600\80116304.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  co2_albania = df_emisions_co2[df['Country'] == 'Albania']

# Pregunta 9

Cu√°ntas son las emisiones totales en 'libras' s√≥lo para Costa Rica usando el dataframe 'df_emisions_co2'?

In [136]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 10

Para s√≥lo 'Costa Rica' y suponiendo que las emisiones se estancan a partir del √∫ltimo a√±o reportado (se mantiene igual). Cu√°ntas son las emisiones en 'Kg' s√≥lo para Costa Rica en el a√±o desde el ultimo a√±o hasta el 2025 usando el dataframe 'df_emisions_co2'?

In [137]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 11

Para s√≥lo los pa√≠ses de Centroam√©rica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por a√±o de las emisiones totales en Centroam√©rica usando el dataframe 'df_emisions_co2'?
Se espera un dataframe de 2 columnas: 'Year' y 'total_por_a√±o'

In [138]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 12

Para s√≥lo los pa√≠ses de Centroam√©rica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por a√±o de las emisiones en promedio en Centroam√©rica usando el dataframe 'df_emisions_co2_per_capita'?
Se espera un dataframe de 2 columnas: 'Year' y 'promedio_por_a√±o'

In [139]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 13

Cu√°l es el promedio de las emisiones per capita para el a√±o 2005 usando el dataframe 'df_emisions_co2_per_capita'?

In [140]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 14



Usa el dataframe  'df_emisions_co2_per_capita' con las columnas Year y promedio_por_a√±o para crear una gr√°fica de l√≠neas que muestre la evoluci√≥n del promedio de emisiones per c√°pita en Centroam√©rica a lo largo del tiempo; el eje X debe ser el a√±o y el eje Y el promedio de emisiones.

In [141]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta